extends ../layout

block page_includes

    script.
        window.exploreUserId = "#{exploreUser.id}";
        window.dockerArgs.activeContainer = "userprofileContainer";
        window.dockerArgs.activeElementId = "userprofile";

    script(src="/lib/fineUploader/fine-uploader.js")
    link(rel='stylesheet', href='/lib/fineUploader/fine-uploader-new.css')
    script(src="/dist/editUser.js")
    script(src='/dist/editUser_style.js')


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container.subpage-container-dimmed
                        #content1-heading.sec-heading.subpage-heading.userinfo-heading-container.mobile-avatar
                            .userimg-container.sec-heading-img
                                .userimg.hover
                                    .userimg-overlay.changeProfilePicture
                                        .userimg-inner
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera") <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                                            span Bild ändern
                                    img#userProfileImage.userProfileImage(src="/data/uploads/user_images/" + exploreUser.id + "/" + exploreUser.id + ".jpg")

                            .sec-heading-label.userprofile-heading
                                .userprofile-heading-container
                                    .userprofile-heading-text
                                        h3#userProfileName.limitCharacters=exploreUser.generalData.firstName.value + " " + exploreUser.generalData.lastName.value
                                    #mdc-dropdown.userprofile-dropdown.dropdown-menu.mdc-menu-surface--anchor
                                        dropdown-btn
                                            button.material-icons.mdc-icon-button(id="mdc-dropdown-trigger" aria-label="Options") more_vert
                                        .mdc-menu.mdc-dropdown-menu.mdc-menu-surface
                                            ul.mdc-deprecated-list.mdc-deprecated-list--icon-list.mdc-deprecated-list--dense(role='menu', aria-hidden='true', aria-orientation='vertical', tabindex='-1')
                                                li.mdc-deprecated-list-item.changeProfilePicture(role='menuitem')
                                                    span.mdc-deprecated-list-item__ripple
                                                    span.mdc-deprecated-list-item__graphic
                                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera") <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                                                    span.mdc-deprecated-list-item__text Bild ändern
                                                li.mdc-deprecated-list-item.menu-entry__delete.userDelete(id="deleteUserId" + exploreUser.id, data-userid=exploreUser.id role='menuitem')
                                                    span.mdc-deprecated-list-item__ripple
                                                    span.mdc-deprecated-list-item__graphic
                                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2") <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                    span.mdc-deprecated-list-item__text Nutzer löschen
                                    .clear
                                .clear
                        #content1-text.sec-content
                            .subpage-content
                                .userinfo-container
                                        #tab-userinfo-general.userinfo-inner
                                            .userinfo-section.userinfo-card.card-full.userwidget-description
                                                .userinfo-section-inner

                                                    .userinfo-sectionheader
                                                        span Allgemeine Daten
                                                    div
                                                        ul.userlist.itemlist.itemlist-style-clean.userinfo-itemList
                                                            if exploreUserDocument.generalData
                                                                - var secKey = "generalData"
                                                                - var secVal = exploreUserDocument.generalData
                                                                each val, key in secVal
                                                                    - var keyTitle = val.title
                                                                    - var combinedKey = secKey + "." + key
                                                                    - var value = val.value
                                                                    if (!Array.isArray(val))
                                                                        li.user-entry.userkey-entry(id="userkey-" + combinedKey, data-isarray= true, data-title=keyTitle, data-catkey=secKey, data-subkey=key, data-key=combinedKey, data-keyid= val.id, data-value=value)
                                                                            a.inner()
                                                                                .item-property.userkey-entry-title
                                                                                    span= keyTitle
                                                                                .item-property.userkey-entry-value
                                                                                    span= value
                                                                                .clear
                                                                if exploreUserDocument.generalData.customData
                                                                    - var subKey = 'customData'
                                                                    - var subsecKey = secKey + '.' + subKey
                                                                    - var subsecVal = exploreUserDocument.generalData.customData
                                                                    each val, key in subsecVal
                                                                        - var keyTitle = val.title
                                                                        - var combinedKey = subsecKey + "." + key
                                                                        - var value = val.value
                                                                        li.user-entry.userkey-entry(id="userkey-" + combinedKey, data-isarray="true", data-title=keyTitle, data-catkey=secKey, data-subkey=subKey, data-key=combinedKey, data-keyid= val.id, data-value=value, data-iscustomentry="true" data-removeable="true")
                                                                            a.inner()
                                                                                .item-property.userkey-entry-title
                                                                                    span= keyTitle
                                                                                .item-property.userkey-entry-value
                                                                                    span= value
                                                                                .clear

                                                    .userinfo-sectionheader
                                                        span unisan-server
                                                    div
                                                        ul.userlist.itemlist.itemlist-style-clean.userinfo-itemList
                                                            - var combinedKey = "username"
                                                            - var keyTitle = "Nutzername"
                                                            - var value = exploreUserDocument.username
                                                            li.user-entry.username-change(id="userkey-" + combinedKey, data-isarray= false, data-key=combinedKey, data-value=value)
                                                                a.inner()
                                                                    .item-property.userkey-entry-title
                                                                        span= keyTitle
                                                                    .item-property.userkey-entry-value
                                                                        span= value
                                                                    .clear
                                                            - var keyTitle = "Email (intern)"
                                                            - var value = exploreUserDocument.internalEmail
                                                            li.user-entry.internalEmail-change(id="userkey-internalEmail", data-isarray= false, data-key="internalEmail", data-value=value)
                                                                a.inner()
                                                                    .item-property.userkey-entry-title
                                                                        span= keyTitle
                                                                    .item-property.userkey-entry-value
                                                                        span= value
                                                                    .clear

                                                    .userinfo-item.useredit-item.useredit-addItem
                                                        .useredit-addGeneralItemBtn.btn-addItem.btn-listExt(data-catkey=secKey)
                                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                            span Hinzufügen
                                                            .clear
                                            .userinfo-section.userinfo-card.card-half.userwidget-description
                                                .userinfo-section-inner
                                                    .userinfo-sectionheader
                                                        span Kontaktdaten
                                                    div
                                                        ul.userlist.itemlist.userinfo-itemList.usercontact-list
                                                            if exploreUserDocument.internalEmail
                                                                - var internalEmail = exploreUserDocument.internalEmail
                                                                li.user-entry.usercontact-entry.usercontact-entry--disabled(id="userkey-contactData--internal", data-disabled = "true")
                                                                    a.inner()
                                                                        .item-property.userkey-entry-title
                                                                            span Email (intern)
                                                                        .item-property.userkey-entry-value
                                                                            span= internalEmail
                                                                        .clear
                                                            if exploreUserDocument.contactData
                                                                - var secKey = "contactData"
                                                                - var secVal = exploreUserDocument.contactData
                                                                each val, key in secVal
                                                                    - var keyTitle = val.title
                                                                    - var combinedKey = secKey + "." + key
                                                                    - var value = val.value
                                                                    li.user-entry.usercontact-entry(id="userkey-" + combinedKey, data-isarray="true", data-catkey=secKey, data-key=combinedKey, data-keyid= val.id, data-title=keyTitle, data-value=value, data-type=val.type data-removeable="true")
                                                                        a.inner()
                                                                            .item-property.userkey-entry-title
                                                                                span= keyTitle
                                                                            .item-property.userkey-entry-value
                                                                                span= value
                                                                            .clear
                                                    .userinfo-item.useredit-item.useredit-addItem
                                                        .useredit-addContactItemBtn.btn-addItem.btn-listExt(data-catkey=secKey)
                                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                            span Hinzufügen
                                                            .clear

                                            .userinfo-section.userinfo-card.card-half.userwidget-description
                                                .userinfo-section-inner
                                                    .userinfo-sectionheader
                                                        span weitere Daten
                                                    div
                                                        if exploreUserDocument.otherData
                                                            - var secKey = "otherData"
                                                            - var secVal = exploreUserDocument.otherData
                                                            ul.userlist.itemlist.userinfo-itemList

                                                                if exploreUserDocument.otherData.customData
                                                                    - var subKey = 'customData'
                                                                    - var subsecKey = secKey + '.' + subKey
                                                                    each val, key in exploreUserDocument.otherData.customData
                                                                        - var combinedKey = subsecKey + "." + key
                                                                        - var keyTitle = val.title
                                                                        - var value = val.value
                                                                        li.user-entry.userkey-entry(id="userkey-" + combinedKey, data-isarray="true", data-catkey=secKey, data-subkey= subKey, data-key=combinedKey, data-keyid= val.id, data-value=value, data-iscustomentry="true" data-removeable="true")
                                                                            a.inner()
                                                                                .item-property.userkey-entry-title
                                                                                    span= keyTitle
                                                                                .item-property.userkey-entry-value
                                                                                    span= value
                                                                                .clear

                                                        .userinfo-item.useredit-item.useredit-addItem
                                                            .useredit-addGeneralItemBtn.btn-addItem.btn-listExt(data-catkey=secKey)
                                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                span Hinzufügen
                                                                .clear

                                        #tab-userinfo-qualification.userinfo-inner
                                            .userinfo-section.userinfo-card.card-full.userwidget-description
                                                .userinfo-section-inner
                                                    .userinfo-sectionheader
                                                        span Qualifikationen
                                                    div#qualification-list
                                                    - var secKey = "qualifications"
                                                    .userinfo-item.useredit-item.useredit-addItem
                                                        .useredit-addQualificationBtn.btn-addItem.btn-listExt(data-catkey=secKey)
                                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                            span Hinzufügen
                                                            .clear

                            #profilemanagment-menu.subpage-menu
                                #btn01.subpage-menu-btn


