extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_userprofile.css')
    script(src="/static/unisams/js/profile.js")
    script(src="/static/unisams/js/updateUser.js")
    script(src="/static/unisams/js/deleteUserTest.js")
    script(src="/static/unisams/js/editUser.js")

    script.
        window.exploreUser = "#{exploreUser}";

block content
    #wrapper
        .container
            section#sec1

                #sec-content.subpage-container
                    #content1-heading.sec-heading.subpage-heading.enlarge
                        h3=exploreUser.firstName + " " + exploreUser.lastName
                    #content1-text.sec-content
                        .subpage-content
                            form#editUserForm.editUserForm.userinfo-container.userForm(action='/unisams/usermod/'+ exploreUser.id method='POST')
                                .userinfo-inner
                                    .userinfo-section
                                        .userinfo-sectionheader
                                            span Allgemeine Daten
                                        .userinfo-item
                                            span Username:
                                            input#userinp-username.userForm-inp(value = exploreUser.username, name="username" type="text")
                                        .userinfo-item
                                            span Vorname:
                                            input#userinp-firstname.userForm-inp(value = exploreUser.firstName, name="firstName" type="text")
                                        .userinfo-item
                                            span Vorname:
                                            input#userinp-lastname.userForm-inp(value= exploreUser.lastName name="lastName" type="text")
                                        .userinfo-item
                                            span Email:
                                            input#userinp-email.userForm-inp(value= exploreUser.email name="email" type="text")

                                    .userinfo-section
                                        .userinfo-sectionheader
                                            span Rechte und Rollen
                                        .userinfo-item
                                            span UniSams login:
                                            span= exploreUser.loginEnabled
                                        .userinfo-item
                                            span Angezeigt auf Website:
                                            span= exploreUser.isDisplayedOnPublic

                                    .userinfo-section
                                        .userinfo-sectionheader
                                            span Weitere Daten
                                        .userinfo-item
                                            span Erstellt am:
                                            span= exploreUser.createdDate

                        #profilemanagment-menu.subpage-menu
                            #btn01.subpage-menu-btn
                                a.content-link.style2.float(href="/unisams/user")
                                    svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-delete") <path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line x1="18" y1="9" x2="12" y2="15"></line><line x1="12" y1="9" x2="18" y2="15"></line></svg>
                                    span Abbrechen
                            #btn02.subpage-menu-btn
                                a#editUserFormSubmit.content-link.float(data-userid = exploreUser.id)
                                    svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save") <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                                    span Speichern
                            #btn03.subpage-menu-btn
                                a.content-link.float.userDelete(id="deleteUserButton", data-userid=exploreUser.id)
                                    svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2") <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                    span Löschen





