<div class="itemlist-header-container userlist-top borderBottom">
    <ul class="common-list loglist-top userlist  itemlist scrollableItemList list-view border scrollableList-top">
        <li class="noSelect rowHeading">
            <div class="inner">
                <div class="item-property scrollableList-header-column userlist-ch name" data-property="generalData.lastName.value">Name</div>
                <div class="item-property scrollableList-header-column userlist-ch memberid" data-property="generalData.memberId.value">Mitgliedsnummer</div>
                <div class="item-property scrollableList-header-column userlist-ch username" data-property="username">username</div>
            </div>
        </li>
    </ul>
</div>
<div class="itemlist-content-container scrollableList-content">
    <ul class="userlist itemlist scrollableItemList list-view border">
        {{#each listdata}}
            <li class="user-entry scrollableList-item" id='userId{{this.id}}' data-userid= {{this.id}}>
                <a class="inner">

                    <div class="item-property item-container name">
                        <div class=" userlist-img item-container-element"><img src="/data/uploads/user_images/{{this.id}}/{{this.id}}.jpg"/></div>
                        <span class=" item-container-element">{{this.generalData.firstName.value}} {{this.generalData.lastName.value}}</span>
                        <!--                    <div class="clear"></div>-->
                    </div>
                    <div class="item-property item-container memberid">
                        <span class="item-container-element">{{this.generalData.memberId.value}}</span>
                    </div>
                    <div class="item-property item-container username">
                        <span class="item-container-element">{{this.username}}</span>
                    </div>

                    <!--                .icon-reset.before-icon(onclick="transformUser('" + user.id + "')")-->
                </a>
            </li>
        {{/each}}
    </ul>
</div>


