
<div id="sidebar" class="sidebar sidebar-event">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span>{{title.value}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner">
        <div class="sidebar-content">
            <div class="sidebar-section top-section">

            </div>
            <div class="sidebar-section">
                <div class="section-title content-title">
                    <span></span>
                </div>
                <div class="section-content">
                    <span class="content-item"></span>
                </div>
            </div>
            <div class="sidebar-section body-section event-participants-container">
                <div class="section-title participant-heading">
                    Verantwortlich
                </div>
                <div class="event-participants">
                    {{#each userlist}}

                    {{/each}}
                </div>
                <div class="section-title participant-heading">
                    Dozenten
                </div>
                <div class="event-participants">
                    {{#each participants}}
                        {{#if (hasRole this "lecturer")}}
                            <div class="content-item participant-item">
                                <div class="participant-img">
                                    <img src="/data/uploads/user_images/{{this.user.id}}/{{this.user.id}}.jpg"/>
                                </div>
                                <div class="participant-details">
                                    {{this.user.generalData.firstName.value}} {{this.user.generalData.lastName.value}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
                <div class="section-title participant-heading">
                    Teilnehmer
                </div>
                <div class="event-participants">
                    {{#each participants}}
                        {{#if (hasRole this "participant")}}
                            <div class="content-item participant-item">
                                <div class="participant-img">
                                    <img src="/data/uploads/user_images/{{this.user.id}}/{{this.user.id}}.jpg"/>
                                </div>
                                <div class="participant-details">
                                    {{this.user.generalData.firstName.value}} {{this.user.generalData.lastName.value}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="sidebar-bottom">
            <div id="sidebar-participate-button-notregistered" class="select-button content-link slim sidebar-confirm sidebar-participate-button">Teilnehmen</div>
            <select id="sidebar-participate-button-registered" class="hidden select-button content-link slim style2 sidebar-participate-button">
                <option value="remove">Abmelden</option>
                <option value="keep" selected>Du nimmst teil</option>
            </select>
        </div>
        
    </div>
</div>
