doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=")

    script(src='/static/unisams/js/preloader.js')
    script(src='/dist/login.js')
    script(src='/dist/login_style.js')

    //
      ***********************************
      ** no js fallback
      ***********************************
    noscript
      link(rel='stylesheet' type='text/css' href='/static/unisams/stylesheets/no-js.css')




  body.no-js
    #wrapper.wrapper-full-height
      .login-page
        .login-page-container
          .login-additional-box
            .additonal-content-container.centered
              .img-container
                img(src="/static/images/logo/unisams-kompakt.jpg")
              //.unisams-label
              //  span.acc1 uni
              //  span.acc2 Sams
                .clear
              .clear
          .login-content
            .login-content-inner.centered
              .login-form-container
                .login-form-greeter
                  .greeter-label
                    | OpenID Login
                  .greeter-content
                    | Authorisierung erforderlich
                .login-form-content


                  .login-form-consent
                    .login-form-consent-label
                      span.login-form-consent-label--bold=client_name
                      span
                      |  erhält Zugriff auf folgende Daten:
                    ul.login-form-consent-list
                      each claim in claims
                        li.login-form-consent-entry
                          span.login-form-consent-entry--title=claim.scope
                          span.login-form-consent-entry--text=claim.description

                  form#login-form01.login-form(action=uid + '/confirm' method='POST')
                    button.submit-button.mdc-button.mdc-button--raised.next
                      .mdc-button__ripple
                      span.mdc-button__label
                        | Bestätigen



