<div class="userDisplay">
    <div class="userDisplay-avatar"><img src="/data/uploads/user_images/{{user.id}}/{{user.id}}.jpg"/></div>
    <div class="userDisplay-label">
        <span class="userDisplay-label--name">
            {{user.generalData.firstName.value}} {{user.generalData.lastName.value}}
        </span>
        <span class="userDisplay-label--text">
            {{text}}
        </span>
    </div>
</div>