
<div id="sidebar" class="sidebar sidebar-user">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span>{{generalData.firstName.value}} {{generalData.lastName.value}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner">
        <div class="sidebar-content">
            <div class="top-section">
                <a href="/user/view/{{username}}">
                <div class="sidebar-userimg">
                    <div class="userimg-inner">
                        <div class="img-container">
                            <img src="/data/uploads/user_images/{{id}}/{{id}}.jpg"/>
                        </div>
                        <span class="userimg-title">{{generalData.firstName.value}} {{generalData.lastName.value}}</span>
                    </div>
                </div>
                </a>
            </div>
<!--            <div class="sidebar-section body-section">-->
<!--                <div class="section-title">-->
<!--                    Gruppen:-->
<!--                </div>-->
<!--                <div class="section-content">-->
<!--                    <span class="content-item">-->
<!--                        {{#each userGroups}}-->
<!--                            {{this.title}}{{#unless @last}},{{/unless}}-->
<!--                        {{/each}}-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="sidebar-section body-section">
                <div class="section-title">
                    Qualifikationen:
                </div>
                <div class="section-content">
                    <span class="content-item">
                        {{#each qualifications}}
                            {{this.qualification.name}}{{#unless @last}},{{/unless}}
                        {{/each}}
                    </span>
                </div>
            </div>
        </div>
        <div class="sidebar-bottom">
            <a href="/user/view/{{username}}" class="content-link light">Akte öffnen</a>
        </div>
    </div>
</div>
