
<div id="sidebar" class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span>{{qual.name}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner">
        <div class="sidebar-content">
            <div class="sidebar-section top-section">
                <div class="sidebar-title">
                    <span>Qualifikation bearbeiten</span>
                </div>
                <div class="section-content">

                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-title participant-heading">
                    Art und Name
                </div>
                <div class="section-content">
                    <div class="ak-form">
                        <div class="ak-item ak-qual ak-qual-type">
                            <label for="qual-type">Typ</label>
                            <select class="common-select" id="qual-type" name="qual-type">
                                <option>{{currentQualification.qualType}}</option>
                            </select>
                        </div>
                        <div class="ak-item ak-qual ak-qual-name">
                            <label for="qual-name">Bezeichnung</label>
                            <input class="common-input" id="qual-name" name="qual-name" placeholder="Sanitätshelfer" value="{{currentQualification.name}}" type="text"/>
                        </div>
                        <div class="ak-item ak-qual ak-qual-name">
                            <label for="qual-short">Abkürzung / Kurzbezeichnung</label>
                            <input class="common-input" id="qual-short" name="qual-short" placeholder="SanH" value="{{currentQualification.short}}" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-title participant-heading">
                    Hierarchie
                </div>
                <div class="section-content">
                    <div class="ak-form">
                        <div class="ak-item ak-qual ak-qual-type">
                            <label for="qual-type">Hierarchie-Ebene</label>
                            <input class="common-select" id="qual-level" name="qual-level" value="{{currentQualification.level}}" type="number"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-bottom sidebar-bottom--padding">
            <a class="sidebar-confirm sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    check
                </button>
            </a>
            <a class="sidebar-cancel sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    close
                </button>
            </a>
            <a class="sidebar-delete sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    delete
                </button>
            </a>
        </div>
    </div>
</div>
