<div class="dashPage-component dashWidget-news">
    <div class="dashPage-component-inner">
        <div class="dashPage-component-header"><span>Aktuelles</span></div>
        <div class="dashPage-component-item dash-item-news">
            <div class="dashinfo-item-inner dash-news">
                <div class="dash-news-container">
                    <ul class="dash-news-list">
                        {{#each news}}
                            <li class="dash-news-listItem dash-newsItem">
                                <div class="dash-newsItem--wrapper">
                                    <div class="dash-newsItem-meta">
                                        <div class="dash-newsItem-meta--date">
                                            {{news.created}}
                                        </div>
                                        <div class="dash-newsItem-meta--user">
                                            {{news.author.generaldata.firstname.value}} {{news.author.generaldata.lastname.value}}
                                        </div>
                                    </div>
                                    <div class="dash-newsItem--heading">
                                        {{news.title}}
                                    </div>
                                    <div class="dash-newsItem--body">
                                        {{news.content.value}}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>

            </div>
            <div class="eventinfo-item-spacer"></div>
        </div>
    </div>
</div>