<ul class="common-list eventlist itemlist list-view border">

    {{#each eventlist}}
        <li class="event-entry" id='eventId{{this.id}}' data-eventid= {{this.id}}>
            <a class="inner">

                <div class="item-property item-container name">
<!--                    <div class=" eventlist-img item-container-element"><img src="/data/uploads/event_images/{{this.id}}/{{this.id}}.jpg"/></div>-->
                    <span class=" item-container-element">{{{this.title.html}}}</span>
                </div>
                <div class="item-property item-container type">
                    <span class="item-container-element">{{this.type.value}}</span>
                </div>
                <div class="item-property item-container date">
                    <span class="item-container-element">{{this.dateRangeString}}</span>
                </div>
            </a>
        </li>
    {{/each}}
</ul>

