<ul class="common-list loglist itemlist list-view border">
    {{#each logs}}
        <li class="log-entry" id='logId{{this.id}}' data-logid= {{this.id}}>
            <a class="inner noSelect">
                <div class="item-property item-container timestamp">
                    <span class=" item-container-element">{{transformDateTimeString this.timestamp}}</span>
                </div>

                <div class="item-property item-container authorizedUser">
                    <span class=" item-container-element">{{this.authorizedUser.generalData.firstName.value}} {{this.authorizedUser.generalData.lastName.value}}</span>
                </div>
                <div class="item-property logType">
                    <span class=" item-container-element">{{this.description.logType}}</span>
                </div>
                <div class="item-property value">
                    <span class=" item-container-element">{{this.description.min}}</span>
                </div>
            </a>
        </li>
    {{/each}}
</ul>


