<ul class="common-list userlist itemlist list-view border">
    {{#each user}}
        <li class="user-entry noSelect" id='userId{{this.user.id}}' data-userid= {{this.user.id}}>
            <a class="inner noSelect">

                <div class="item-property item-container name">
                    <div class=" userlist-img item-container-element"><img src="/data/uploads/user_images/{{this.user.id}}/{{this.user.id}}.jpg"/></div>
                    <span class=" item-container-element">{{this.user.generalData.firstName.value}} {{this.user.generalData.lastName.value}}</span>
                    <div class="participant-delete icon-delete before-icon" data-userid={{this.user.id}}></div>
                </div>
                <div class="item-property role">

                </div>
            </a>
        </li>
    {{/each}}
</ul>


