extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_event.css')
    script(src="/static/unisams/js/actions.js")
    script(src="/static/unisams/js/eventActions.js")

    //script(src="/static/unisams/js/events/editEvent.js")
    script(src="/dist/editEvent.js")
    script(src="/static/unisams/js/events/event.js")
    script(src="/static/unisams/js/editableTextField.js")
    script(src="/static/unisams/js/editableInputField.js")

    script(src="/lib/editorjs/editor.js")
    link(rel='stylesheet', href='/static/unisams/stylesheets/editor/editor.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/editor/editableTextField.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/editor/editableInputField.css')

    link(rel='stylesheet', href='/dist/editEvent.css')


    //// Main Quill library
    //script(src='//cdn.quilljs.com/1.3.6/quill.js')
    // Theme included stylesheets
    link(href='/lib/quill/quill.snow-custom.css' rel='stylesheet')
    link(href='/lib/quill/quill.bubble-custom.css' rel='stylesheet')
    //link(href='/lib/quill/quill.core.css' rel='stylesheet')

    script(type="module" src='/lib/quill/quill.js')

    script.
        window.exploreEventId = "#{exploreEvent.id}";
        window.dockerArgs.activeContainer = "eventDetailContainer";
        window.dockerArgs.activeElementId = "eventDetail";

block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.eventprofile-heading
                                .eventprofile-heading-container
                                    .eventprofile-heading-text
                                        .eventprofile-heading-type
                                            span.type=exploreEvent.type.value
                                        .eventprofile-heading-title
                                            #eventtitle-input.title.event-title
                                        .eventprofile-heading-date
                                            span.date.before-icon.icon-calendar=exploreEvent.dateRangeString
                                    .eventprofile-dropdown.dropdown-menu
                                        .dropdown-btn
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical") <circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>

                                            .dropdown-container
                                                .dropdown-entry
                                                    a.before-icon.icon-back(id="view" + exploreEvent.id, data-userid=exploreEvent.id href="/unisams/events/view/" + exploreEvent.id) Bearbeitung beenden
                                                .dropdown-entry
                                                    a.before-icon.icon-delete.eventDelete(id="deleteEventId" + exploreEvent.id, data-userid=exploreEvent.id) Event löschen
                                    .clear
                            .clear
                        #content1-text.sec-content.border-top
                            .subpage-content
                                .eventinfo-container
                                    .eventinfo-inner
                                        .eventinfo-section.eventinfo-card.card-full.eventwidget-description
                                            .eventinfo-section-inner
                                                .eventinfo-sectionheader
                                                    span Beschreibung
                                                #eventDescriptionEditor.eventinfo-item.editor-container
                                                    .eventinfo-item.quill-renderer

                                        .eventinfo-section.eventinfo-card.card-half.eventwidget-location
                                            .eventinfo-section-inner
                                                .eventinfo-sectionheader
                                                    span Termin
                                                #eventDateEditor.eventinfo-item.eventinfo-item-date
                                                    .eventinfo-item-inner
                                                        .eventinfo-date-day
                                                            = exploreEvent.date.startDateString
                                                        .eventinfo-date-time
                                                            =exploreEvent.date.timeString
                                                        .eventinfo-item-spacer


                                                .eventinfo-sectionheader
                                                    span Veranstaltungsort
                                                #eventLocationEditor.eventinfo-item.eventinfo-item-date
                                                    .eventinfo-item-inner
                                                        .eventinfo-date-location.before-icon.icon-location
                                                            =exploreEvent.location.value
                                                    .eventinfo-item-spacer


                                        .eventinfo-section.eventinfo-card.card-half.eventwidget-location
                                            .eventinfo-section-inner
                                                .eventinfo-sectionheader
                                                    span Material
                                                #eventMaterialEditor.eventinfo-item.eventinfo-item-location
                                                    .eventinfo-item-inner
                                                        .eventinfo-material
                                                            .eventinfo-material-content
                                                            .eventinfo-material-uploadContainer
                                                                input#materialUploadElement(type="file" name="file")
                                                            
