extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_event.css')
    script(src="/static/unisams/js/actions.js")
    script(src="/static/unisams/js/eventActions.js")

    script(src="/dist/event.js")
    script(src="/static/unisams/js/editableTextField.js")
    script(src="/static/unisams/js/editableInputField.js")

    script(src="/lib/editorjs/editor.js")
    link(rel='stylesheet', href='/static/unisams/stylesheets/editor/editor.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/editor/editableTextField.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/editor/editableInputField.css')

    script(src="/dist/event_style.js")
    //// Main Quill library
    //script(src='//cdn.quilljs.com/1.3.6/quill.js')
    // Theme included stylesheets
    link(href='/lib/quill/quill.snow-custom.css' rel='stylesheet')
    link(href='/lib/quill/quill.bubble-custom.css' rel='stylesheet')
    //link(href='/lib/quill/quill.core.css' rel='stylesheet')

    script(type="module" src='/lib/quill/quill.js')

    script.
        window.jsmodule = {
        module: "event",
        loaders: ["eventDetails"],
        args: {
            allowEdit: #{allowedit},
            edit: true
            }
        };

        window.exploreEventId = "#{exploreEvent.id}";
        window.dockerArgs.activeContainer = "eventDetailContainer";
        window.dockerArgs.activeElementId = "eventDetail";
        window.allowedit =#{allowedit};

block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.eventprofile-heading
                                .eventprofile-heading-container
                                    .eventprofile-heading-text
                                        .eventprofile-heading-type
                                            span.type=exploreEvent.type.value
                                        .eventprofile-heading-title
                                            #eventtitle-input.title.event-title
                                        .eventprofile-heading-date
                                            span.date.before-icon.icon-calendar=exploreEvent.dateRangeString
                                    .eventprofile-dropdown.dropdown-menu
                                        .dropdown-btn
                                            button.material-icons.mdc-icon-button(aria-label="Options") more_vert
                                            .dropdown-container
                                                .dropdown-entry
                                                    a.before-icon.icon-back(id="view" + exploreEvent.id, data-userid=exploreEvent.id href="/unisams/events/view/" + exploreEvent.id) Bearbeitung beenden
                                                .dropdown-entry
                                                    a.before-icon.icon-delete.eventDelete(id="deleteEventId" + exploreEvent.id, data-userid=exploreEvent.id) Event löschen
                                    .clear
                            .clear
                        #content1-text.sec-content.border-top
                            .subpage-content
                                .eventinfo-container
                                    .eventinfo-inner
                                        .eventinfo-section.eventinfo-card.card-full.eventwidget-description
                                            .eventinfo-section-inner
                                                .eventinfo-sectionheader
                                                    span Beschreibung
                                                #eventDescriptionEditor.eventinfo-item.editor-container
                                                    .eventinfo-item.quill-renderer

                                        .eventinfo-section.eventinfo-card.card-half.eventwidget-location
                                            .eventinfo-section-inner
                                                .eventinfo-sectionheader
                                                    span Termin
                                                #eventDateEditor.eventinfo-item.eventinfo-item-date.eventinfo-item-editable.enabled
                                                    .eventinfo-item-inner
                                                        .eventinfo-date-day
                                                            = exploreEvent.date.startDateString
                                                        .eventinfo-date-time
                                                            =exploreEvent.date.timeString
                                                        .eventinfo-item-spacer


                                                .eventinfo-sectionheader
                                                    span Veranstaltungsort
                                                #eventLocationEditor.eventinfo-item.eventinfo-item-date.eventinfo-item-editable.enabled
                                                    .eventinfo-item-inner
                                                        .eventinfo-date-location.before-icon.icon-location
                                                            =exploreEvent.location.value
                                                    .eventinfo-item-spacer


                                        .eventinfo-section.eventinfo-card.card-half.eventwidget-location
                                            .eventinfo-section-inner
                                                .eventinfo-sectionheader
                                                    span Material
                                                #eventMaterialEditor.eventinfo-item.eventinfo-item-location
                                                    .eventinfo-item-inner
                                                        .eventinfo-material
                                                            .eventinfo-material-content
                                                            .eventinfo-material-viewContainer
                                                                ul.eventinfo-material-list.mdc-list.mdc-list--two-line.mdc-list--thumbnail-list
                                                                    if exploreEvent.files
                                                                        each val in exploreEvent.files
                                                                            - var title = val.filename
                                                                            - var filetype = val.filetype
                                                                            - var size = val.humanReadableFileSize
                                                                            .mdc-list-item-wrapper
                                                                                li.eventinfo-material-listItem.mdc-list-item
                                                                                    span.mdc-list-item__ripple
                                                                                    span.mdc-list-item__graphic
                                                                                        if val.thumbnail === val.filename
                                                                                            //img(src="/api/v1/eventmod/" + refurl + "/files/" + title + "?thumbnail=true")
                                                                                            img(src="/data/uploads/event_files/" + refurl + "/thumbnails/" + title)
                                                                                        else
                                                                                            img(src=val.thumbnail)

                                                                                    span.mdc-list-item__text
                                                                                        span.mdc-list-item__primary-text=title
                                                                                        span.mdc-list-item__secondary-text= filetype + " | " + size
                                                                                    span.mdc-list-item__meta.mdc-menu-surface--anchor
                                                                                        button.material-icons.mdc-icon-button(aria-label="Options") more_vert
                                                                                .mdc-menu.mdc-dropdown-menu.mdc-menu-surface
                                                                                    ul.mdc-list.mdc-list--icon-list.mdc-list--dense(role='menu', aria-hidden='true', aria-orientation='vertical', tabindex='-1')
                                                                                        li.mdc-list-item.menu-entry-delete(role='menuitem' data-id= title)
                                                                                            span.mdc-list-item__ripple
                                                                                            span.mdc-list-item__graphic
                                                                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2") <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                                                            span.mdc-list-item__text Löschen
                                                                                        li.mdc-list-item.menu-entry-download(role='menuitem')
                                                                                            span.mdc-list-item__ripple
                                                                                            span.mdc-list-item__graphic
                                                                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download") <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                                                                                            span.mdc-list-item__text Herunterladen
                                                                                                a.download-button(href="/api/v1/eventmod/"+ refurl + "/files/" + title, download)



                                                                            li.mdc-list-divider.mdc-list-divider--inset-padding(role="separator")
                                                            .eventinfo-material-uploadContainer
                                                                input#materialUploadElement(type="file" name="file")
                                                            
