extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_event.css')

    script(src="/dist/event.js")
    script(src="/dist/event_style.js")
    script(src="/static/unisams/js/editableTextField.js")
    script(src="/static/unisams/js/editableInputField.js")

    link(rel='stylesheet', href='/static/unisams/stylesheets/editor/editableTextField.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/editor/editableInputField.css')

    script.
        window.jsmodule = {
            module: "event",
            loaders: ["eventParticipants"],
            args: {
                allowEdit: #{allowedit}
            }
        };
        window.user = !{JSON.stringify(user)};
        window.exploreEventId = "#{exploreEvent.id}";
        window.dockerArgs.activeContainer = "eventDetailContainer";
        window.dockerArgs.activeElementId = "eventParticipants";
        window.allowedit =#{allowedit};


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.eventprofile-heading
                                .eventprofile-heading-container
                                    .eventprofile-heading-text
                                        .eventprofile-heading-type
                                            span.type=exploreEvent.type.value
                                        .eventprofile-heading-title
                                            #eventtitle-input.title.event-title
                                        .eventprofile-heading-date
                                            span.date.before-icon.icon-calendar=exploreEvent.dateRangeString
                                    .eventprofile-dropdown.dropdown-menu
                                        if allowedit
                                            .dropdown-btn
                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical") <circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                .dropdown-container
                                                    .dropdown-entry.has-tooltip
                                                        a.before-icon.icon-delete.eventDelete(id="deleteEventId" + exploreEvent.id, data-userid=exploreEvent.id) Event löschen
                                                        span.tooltip Löscht dieses Event
                                    .clear
                            .clear
                section#sec3
                    #sec-content3.subpage-container
                        .subpage-topbar
                            .topbar-heading
                                h3 Teilnehmende
                            .subpage-options.topbar-element
                            #usersearch-participants.searchbar-container.topbar-element
                        #content3-text.sec-content
                            .subpage-content
                                #userlist-container--participants.userlist-container
                                if allowedit
                                    .add-smt-button.add-participant-button
                                        a.add-smt-button-inner
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>


