extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_event.css')
    script(src="/dist/event.js")
    script(src="/dist/event_style.js")

    link(rel='stylesheet', href='/lib/file-icons/file-icons.css')

    //// Main Quill library
    //script(src='//cdn.quilljs.com/1.3.6/quill.js')
    // Theme included stylesheets
    link(href='/lib/quill/quill.snow-custom.css' rel='stylesheet')
    link(href='/lib/quill/quill.bubble-custom.css' rel='stylesheet')
    //link(href='/lib/quill/quill.core.css' rel='stylesheet')


    script(type="module" src='/lib/quill/quill.js')

    script.
        window.jsmodule = {
            module: "event",
            loaders: ["eventDetails"],
            args: {
                allowEdit: #{allowedit},
                edit: false,
            }
        };

        window.exploreEventId = "#{exploreEvent.id}";
        window.dockerArgs.activeContainer = "eventDetailContainer";
        window.dockerArgs.activeElementId = "eventDetail";
        window.allowedit =#{allowedit};


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.eventprofile-heading
                                .eventprofile-heading-container
                                    .eventprofile-heading-text
                                        .eventprofile-heading-type
                                            span.type=exploreEvent.type.value
                                        .eventprofile-heading-title
                                            #eventtitle-input.title.event-title
                                        .eventprofile-heading-date
                                            span.date.before-icon.icon-calendar=exploreEvent.dateRangeString
                                    .clear
                            .clear

                        #content1-text.sec-content.border-top
                            .subpage-content
                                .eventinfo-container
                                    #eventPage-component-container.eventPage-component-container
                        //#content1-text.sec-content.border-top
                        //    .subpage-content
                        //        .eventinfo-container
                        //            .eventinfo-inner
                        //                .eventinfo-section.eventinfo-card.card-full.eventwidget-description
                        //                    .eventinfo-section-inner
                        //                        .eventinfo-sectionheader
                        //                            span Beschreibung
                        //                        #eventDescriptionEditor.eventinfo-item.editor-container
                        //                            .eventinfo-item.quill-renderer
                        //
                        //                .eventinfo-section.eventinfo-card.card-half.eventwidget-location
                        //                    .eventinfo-section-inner
                        //                        .eventinfo-sectionheader
                        //                            span Termin
                        //                        #eventDateEditor.eventinfo-item.eventinfo-item-date
                        //                            .eventinfo-item-inner
                        //                                .eventinfo-date-day
                        //                                    = exploreEvent.date.startDateString
                        //                                .eventinfo-date-time
                        //                                    =exploreEvent.date.timeString
                        //                                .eventinfo-item-spacer
                        //
                        //
                        //                        .eventinfo-sectionheader
                        //                            span Veranstaltungsort
                        //                        #eventLocationEditor.eventinfo-item.eventinfo-item-date
                        //                            .eventinfo-item-inner
                        //                                .eventinfo-date-location.before-icon.icon-location
                        //                                    =exploreEvent.location.value
                        //                            .eventinfo-item-spacer
                        //
                        //
                        //                .eventinfo-section.eventinfo-card.card-half.eventwidget-location
                        //                    .eventinfo-section-inner.limitCharacters
                        //                        .eventinfo-sectionheader
                        //                            span Material
                        //                        #eventMaterialViewer.eventinfo-item.eventinfo-item-location
                        //                            .eventinfo-item-inner
                        //                                .eventinfo-material
                        //                                    .eventinfo-material-content
                        //                                    .eventinfo-material-viewContainer
                        //                                        ul.eventinfo-material-list.mdc-list.mdc-list--two-line.mdc-list--thumbnail-list
                        //                                            if exploreEvent.files
                        //                                                each val in exploreEvent.files
                        //                                                    - var title = val.filename
                        //                                                    - var filetype = val.filetype
                        //                                                    - var size = val.humanReadableFileSize
                        //                                                        li.eventinfo-material-listItem.mdc-list-item
                        //                                                            span.mdc-list-item__ripple
                        //                                                            span.mdc-list-item__graphic
                        //                                                                if val.thumbnail === val.filename
                        //                                                                   //img(src="/api/v1/eventmod/" + refurl + "/files/" + title + "?thumbnail=true")
                        //                                                                   img(src="/data/uploads/event_files/" + refurl + "/thumbnails/" + title)
                        //                                                                else
                        //                                                                    img(src=val.thumbnail)
                        //
                        //                                                            span.mdc-list-item__text
                        //                                                                span.mdc-list-item__primary-text
                        //                                                                    a.download-button(href="/api/v1/eventmod/"+ refurl + "/files/" + title, download)= title
                        //                                                                span.mdc-list-item__secondary-text= filetype + " | " + size
                        //                                                        li.mdc-list-divider.mdc-list-divider--inset-padding(role="separator")

