extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_userprofile.css')
    script(src="/static/unisams/js/actions.js")

    script(src="/lib/fineUploader/fine-uploader.js")
    link(rel='stylesheet', href='/lib/fineUploader/fine-uploader-new.css')

    script.
        window.exploreEventId = "#{exploreEvent.id}";
        window.dockerArgs.activeContainer = "eventDetailContainer";
        window.dockerArgs.activeElementId = "eventDetail";

    script(type="text/template" id="qq-template-manual-trigger")
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
        <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
        <div class="qq-upload-button-selector qq-upload-button">
        <div>Select files</div>
        </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
        <span>Processing dropped files...</span>
        <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
        <li>
        <div class="qq-progress-bar-container-selector">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
        </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">Close</button>
        </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">No</button>
        <button type="button" class="qq-ok-button-selector">Yes</button>
        </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <input type="text">
        <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">Cancel</button>
        <button type="button" class="qq-ok-button-selector">Ok</button>
        </div>
        </dialog>
        </div>

block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .userimg-container.sec-heading-img
                                .userimg
                                    .userimg-overlay.changeProfilePicture
                                        .userimg-inner
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera") <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                                            span Bild ändern
                                    img#userProfileImage.userProfileImage(src="/data/uploads/event_images/" + exploreEvent.id + "/" + exploreEvent.id + ".jpg")

                            .sec-heading-label.userprofile-heading
                                .userprofile-heading-container
                                    h3=exploreEvent.title.value
                                    .userprofile-dropdown.dropdown-menu
                                        .dropdown-btn
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical") <circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>

                                            .dropdown-container
                                                .dropdown-entry
                                                    a.before-icon.icon-edit(href=refurl + "/editUser") Akte bearbeiten
                                                .dropdown-entry.dropdown-entry-disabled.has-tooltip
                                                    a.before-icon.icon-delete.userDelete(id="deleteUserId" + exploreEvent.id, data-userid=exploreEvent.id) Mitglied löschen
                                                    span.tooltip Bearbeitung aktivieren, um Mitglied zu entfernen
                                    .clear
                            .clear
                        #content1-text.sec-content
                            .subpage-content
                                .userinfo-container
                                    #tabnav-container
                                        ul
                                            li
                                                a(href="#tab-userinfo-general")
                                                    span Allgemeine Informationen
                                            li
                                                a(href="#tab-userinfo-qualification")
                                                    span Qualifikationen
                                            li
                                                a(href="#tab-userinfo-role")
                                                    span Rechte und Rollen

                                        #tab-userinfo-general.userinfo-inner
                                            .userinfo-section
                                                .userinfo-sectionheader
                                                    span unisams
                                                .userinfo-item
                                                    span.userinfo-item-label.userinfo-attribute-name Title:
                                                    span.userinfo-item-label= exploreEvent.title.value
                                                .userinfo-item
                                                    span.userinfo-item-label.userinfo-attribute-name id:
                                                    span.userinfo-item-label= exploreEvent.id

                                            .userinfo-section
                                                .userinfo-sectionheader
                                                    span Allgemeine Daten
                                                div
                                                    ul.userlist.itemlist.itemlist-style-clean.itemlist-noSelect.userinfo-itemList
                                                        if exploreEventDocument.generalData
                                                            - var secKey = "generalData"
                                                            - var secVal = exploreEventDocument.generalData
                                                            each val, key in secVal
                                                                - var title = val.title
                                                                - var combinedKey = secKey + "." + key
                                                                - var value = val.value
                                                                if (!Array.isArray(val))
                                                                    li.user-entry.userkey-entry(id="userkey-" + combinedKey, data-isarray="true", data-catkey=secKey, data-subkey=key, data-key=combinedKey, data-keyid= val.id, data-value=value)
                                                                        a.inner()
                                                                            .item-property.userkey-entry-title
                                                                                span= title
                                                                            .item-property.userkey-entry-value
                                                                                span= value
                                                                            .clear
                                                            if exploreEventDocument.generalData.customData
                                                                - var subKey = 'customData'
                                                                - var subsecKey = secKey + '.' + subKey
                                                                - var subsecVal = exploreEventDocument.generalData.customData
                                                                each val, key in subsecVal
                                                                    - var title = val.title
                                                                    - var combinedKey = subsecKey + "." + key
                                                                    - var value = val.value
                                                                    li.user-entry.userkey-entry(id="userkey-" + combinedKey, data-isarray="true", data-catkey=secKey, data-subkey=subKey, data-key=combinedKey, data-keyid= val.id, data-value=value, data-iscustomentry="true")
                                                                        a.inner()
                                                                            .item-property.userkey-entry-title
                                                                                span= title
                                                                            .item-property.userkey-entry-value
                                                                                span= value
                                                                            .clear

                                            .userinfo-section
                                                .userinfo-sectionheader
                                                    span Kontaktdaten
                                                div
                                                    ul.userlist.itemlist.itemlist-style-clean.itemlist-noSelect.userinfo-itemList
                                                        if exploreEventDocument.contactData
                                                            - var secKey = "contactData"
                                                            - var secVal = exploreEventDocument.contactData
                                                            each val, key in secVal
                                                                - var title = (val.title)
                                                                - var combinedKey = secKey + "." + key
                                                                - var value = val.value
                                                                li.user-entry.userkey-entry(id="userkey-" + combinedKey, data-isarray= true, data-catkey=secKey, data-key=combinedKey, data-keyid= val.id, data-value=value)
                                                                    a.inner()
                                                                        .item-property.userkey-entry-title
                                                                            span= title
                                                                        .item-property.userkey-entry-value
                                                                            span= value
                                                                        .clear

                                            .userinfo-section
                                                .userinfo-sectionheader
                                                    span weitere Daten
                                                div
                                                    ul.userlist.itemlist.itemlist-style-clean.itemlist-noSelect.userinfo-itemList
                                                        if exploreEventDocument.customData
                                                            - var secKey = "customData"
                                                            - var secVal = exploreEventDocument.customData
                                                            each val, key in exploreEventDocument.customData
                                                                - var title = val
                                                                - var combinedKey = secKey + "." + key
                                                                - var value = val
                                                                li.user-entry.userkey-entry()
                                                                    a.inner()
                                                                        .item-property.userkey-entry-title
                                                                            span= title
                                                                        .item-property.userkey-entry-value
                                                                            span= value
                                                                        .clear

                                        #tab-userinfo-qualification.userinfo-inner
                                            .userinfo-section
                                                .userinfo-sectionheader
                                                    span Qualifikationen
                                                div
                                                    ul.userlist.itemlist.userinfo-itemList
                                                        li.user-entry.noSelect.borderBottom
                                                            .inner
                                                                .item-property Typ
                                                                .item-property Bezeichnung
                                                        if exploreEventDocument.qualifications
                                                            each val in exploreEventDocument.qualifications
                                                                li.user-entry.quallist-entry(id= "qualId" + val.id data-qualificationid= val.id)
                                                                    a.inner()
                                                                        .item-property= val.qualification.qualType
                                                                        .item-property= val.qualification.name
                                                                        .clear

                                        #tab-userinfo-role.userinfo-inner
                                            .userinfo-section
                                                .userinfo-sectionheader
                                                    span Rollen