<div id="sidebar" class="sidebar sidebar-event">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span class="quill-renderer limitCharacters">{{sidebar.title}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner">
        <div class="sidebar-content">
            <div class="sidebar-section top-section">
<!--                <div class="sidebar-title">-->
<!--                    <span></span>-->
<!--                </div>-->
                <div class="section-content">

                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-title participant-heading">
                    Benötigte Qualifikation
                </div>
                <div class="section-content">
                    <div class="ak-form">
                        {{#if allowEdit}}
                            <div class="ak-item ak-qual ak-qual-type">
                                <label for="qual-type">Typ</label>
                                <span class="common-viewBox viewBox-disabled" id="qual-type">
                                    {{posting.requiredQualifications.[0].qualType}}
                                </span>
                            </div>
                            <div class="ak-item ak-qual ak-qual-name">
                                <label for="qual-name">Bezeichnung</label>
                                <span class="common-viewBox viewBox-disabled" id="qual-name">
                                    {{posting.requiredQualifications.[0].name}}
                                </span>
                            </div>
<!--                            <div class="ak-item ak-qual ak-qual-aquiredDate">-->
<!--                                <label for="qual-level">Hierarchie-Ebene</label>-->
<!--                                <span class="common-viewBox viewBox-disabled" id="qual-level">-->
<!--                                    {{posting.requiredQualifications.[0].level}}-->
<!--                                </span>-->
<!--                            </div>-->
                            <div class="ak-item ak-value">
                                <input class="common-input float " id="allowHigher-checkbox" name="allowHigher-checkbox" type="checkbox" {{#if posting.allowHigher}}checked{{/if}}/>
                                <label class="float" for="allowHigher-checkbox">Höhere Qualifikation zulassen</label><div class="float before-icon icon-info icon-small has-tooltip"><span class="tooltip tt-left">Erlaubt Nutzern mit einer höherwertigen Qualifikation, sich anzumelden.</span></div>
                            </div>
                        {{else}}
                            <div class="ak-item ak-qual ak-qual-type">
                                <label for="qual-type">Typ</label>
                                <span class="common-viewBox" id="qual-type">
                                    {{posting.requiredQualifications.[0].qualType}}
                                </span>
                            </div>
                            <div class="ak-item ak-qual ak-qual-name">
                                <label for="qual-name">Bezeichnung</label>
                                <span class="common-viewBox" id="qual-name">
                                    {{posting.requiredQualifications.[0].name}}
                                </span>
                            </div>
<!--                            <div class="ak-item ak-qual ak-qual-aquiredDate">-->
<!--                                <label for="qual-level">Hierarchie-Ebene</label>-->
<!--                                <span class="common-viewBox" id="qual-level">-->
<!--                                    {{posting.requiredQualifications.[0].level}}-->
<!--                                </span>-->
<!--                            </div>-->
                            <div class="ak-item ak-value">
                                <input class="common-input float " id="allowHigher-checkbox" name="allowHigher-checkbox" type="checkbox" disabled {{#if posting.allowHigher}}checked{{/if}}/>
                                <label class="float" for="allowHigher-checkbox">Höhere Qualifikation zulassen</label><div class="float before-icon icon-info icon-small has-tooltip"><span class="tooltip tt-left">Erlaubt Nutzern mit einer höherwertigen Qualifikation, sich anzumelden.</span></div>
                            </div>

                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-title">
                    Dienstzeit
                </div>
                <div class="section-content">
                    {{#if allowEdit}}
                        <div class="ak-form">
                            <div class="form-item useredit-item form-griditem" id="eventitem-timeStart"><label class="form-item-label form-attribute-name nofloat" for="eventinp-timeStart">von:</label>
                                <input class="common-input timepicker" id="eventinp-timeStart" name="timeStart" type="time" value="{{posting.date.startDate}}" />
                                <div class="clear"></div>
                            </div>
                            <div class="form-item useredit-item form-griditem" id="eventitem-timeEnd"><label class="form-item-label form-attribute-name nofloat" for="eventinp-timeEnd">bis:</label>
                                <input class="common-input timepicker" id="eventinp-timeEnd" name="timeEnd" type="time" value="{{posting.date.endDate}}" />
                                <div class="clear"></div>
                            </div>
                        </div>
                    {{else}}
                        <div class="ak-form">
                            <div class="form-item useredit-item form-griditem" id="eventitem-timeStart">
                                <label class="form-item-label form-attribute-name nofloat" for="eventinp-timeStart">von:</label>
                                <span class="common-viewBox" id="qual-level">{{transformTimeString posting.date.startDate}}</span>
                                <div class="clear"></div>
                            </div>
                            <div class="form-item useredit-item form-griditem" id="eventitem-timeEnd"><label class="form-item-label form-attribute-name nofloat" for="eventinp-timeEnd">bis:</label>
                                <span class="common-viewBox" id="qual-level">{{transformTimeString posting.date.endDate}}</span>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
            {{#arrayNotEmpty event.positions}}
                <div class="sidebar-section body-section">
                    <div class="section-title">
                        Position / Einsatzabschnitt
                    </div>
                    <div class="section-content">
                    <span class="mdc-evolution-chip-set" role="listbox" aria-orientation="horizontal" aria-multiselectable="false">
                  <span class="mdc-evolution-chip-set__chips" role="presentation">
                    <!-- Contains filter chips -->
                      {{#each event.positions}}
                          <span class="mdc-evolution-chip" role="presentation" id="{{this._id}}">
                          <span class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" role="option" aria-selected="false" tabindex="0">
                            <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
<!--                            <span class="mdc-evolution-chip__graphic">-->
<!--                              <span class="mdc-evolution-chip__icon mdc-evolution-chip__icon--primary material-icons">favorite</span>-->
<!--                                  <span class="mdc-evolution-chip__checkmark">-->
<!--                                    <svg class="mdc-evolution-chip__checkmark-svg" viewBox="-2 -3 30 30">-->
<!--                                      <path class="mdc-evolution-chip__checkmark-path"-->
<!--                                            fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59" />-->
<!--                                    </svg>-->
<!--                                  </span>-->
<!--                            </span>-->
                            <span class="mdc-evolution-chip__text-label">{{this.title}}</span>
                          </span>
                        </span>
                      {{/each}}
                  </span>
                </span>
                    </div>
                </div>
            {{/arrayNotEmpty}}
            <div class="sidebar-section body-section">
                <div class="section-title">
                    Weitere Angaben
                </div>
                <div class="section-content">
                    {{#if allowEdit}}
                    <div class="ak-form">
                        <div class="ak-item ak-qual ak-posting-description">
                            <label for="posting-description">Bemerkung</label>
                            <input class="common-input" id="posting-description" name="posting-description" type="text" value="{{posting.description}}"/>
                        </div>
                    </div>
                    <div class="ak-item ak-value">
                        <input class="common-input float " id="isOptional-checkbox" name="isOptional-checkbox" type="checkbox" {{#if posting.optional}}checked{{/if}}/>
                        <label class="float" for="isOptional-checkbox">Besetzung ist optional</label><div class="float before-icon icon-info icon-small has-tooltip"><span class="tooltip tt-left">Markiert einen Posten als optional.</span></div>
                    </div>
                    <div class="clear"></div>
                    {{else}}
                    {{#stringNotEmpty posting.description}}
                    <div class="ak-form">
                        <div class="ak-item ak-qual ak-qual-aquiredDate">
                            <label for="posting-description">Bemerkung (optional)</label>
                            <span class="common-viewBox" id="posting-description">
                                {{posting.description}}
                            </span>
                        </div>
                    </div>
                    {{/stringNotEmpty}}
                    <div class="ak-item ak-value">
                        <input class="common-input float " id="isOptional-checkbox" name="isOptional-checkbox" type="checkbox" disabled{{#if posting.optional}}checked{{/if}}/>
                        <label class="float" for="isOptional-checkbox">Besetzung ist optional</label><div class="float before-icon icon-info icon-small has-tooltip"><span class="tooltip tt-left">Markiert einen Posten als optional.</span></div>
                    </div>
                    <div class="clear"></div>
                    {{/if}}
                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-title">
                    Besetzung:
                </div>
                {{#if posting.assigned.isAssigned}}
                    <div class="section-content">
                        <div class="common-viewBox noBorder">
                            <div class="userDisplay">
                                <div class="userDisplay-avatar">
                                    <img src="/data/uploads/user_images/{{posting.assigned.user.id}}/{{posting.assigned.user.id}}.jpg"/>
                                </div>
                                <div class="userDisplay-label">
                                    <div class="userDisplay-label--name">
                                        <a href="/user/view/{{posting.assigned.user.username}}" >{{posting.assigned.user.generalData.firstName.value}} {{posting.assigned.user.generalData.lastName.value}}</a>

                                    </div>
                                    <div class="userDisplay-label--text">
                                        {{#each posting.requiredQualifications}}{{this.short}}{{#unless @last}}, {{/unless}}{{/each}} | {{transformDateTimeString posting.assigned.date}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#or args.allowEdit isAssignedToSelf}}
                            <div class="sidebarButton sidebar-unassign">
                                <button class="mdc-button mdc-button--outlined mdc-button--icon-leading">
                                    <span class="mdc-button__ripple"></span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true">do_not_disturb_on</i>
                                    <span class="mdc-button__label">Abmelden</span>
                                </button>
                            </div>
                        {{/or}}
                    </div>
                {{else}}
                    <div class="section-content">
                        {{#if augmentedPosting.allowed.isAllowed}}
                            <div class="sidebarButton sidebar-assignSelf">
                                <button id="button--allowed" class="mdc-button mdc-button--icon-leading mdc-button--outlined allowed" data-postingId="{{posting._id}}">
                                    <span class="mdc-button__ripple"></span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true">add_task</i>
                                    <span class="mdc-button__label">Mich anmelden</span>
                                </button>
                            </div>
                        {{else}}
                            {{#if augmentedPosting.allowed.hasOverlap}}
                                <button id="button--blockedGlobally" class="hasMDCTooltip mdc-button mdc-button--outlined mdc-button--icon-leading not-allowed mdcButton--notAllowed">
                                    <span class="mdc-button__ripple"></span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true">do_not_disturb_on</i>
                                    <span class="mdc-button__label">Blockiert durch: {{augmentedPosting.allowed.overlap.event.title.value}}</span>
                                </button>
                            {{else}}
                                {{#unless augmentedPosting.allowed.matchesQualification }}
                                    <button id="button--blockedRequirement" class="mdc-button mdc-button--outlined mdc-button--icon-leading not-allowed mdcButton--notAllowed">
                                        <span class="mdc-button__ripple"></span>
                                        <i class="material-icons mdc-button__icon" aria-hidden="true">do_not_disturb_on</i>
                                        <span class="mdc-button__label">Fehlende Qualifikation</span>
                                    </button>
                                {{else}}
                                    <button id="button--blockedRequirement" class="mdc-button mdc-button--outlined mdc-button--icon-leading not-allowed mdcButton--notAllowed">
                                        <span class="mdc-button__ripple"></span>
                                        <i class="material-icons mdc-button__icon" aria-hidden="true">do_not_disturb_on</i>
                                        <span class="mdc-button__label">Anmeldung nicht&nbsp;möglich</span>
                                    </button>
                                {{/unless}}
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="section-content section-content--margin">
                        <div class="sidebarButton sidebar-assign">
                            <button id="button--allowed" class="mdc-button mdc-button--icon-leading mdc-button--outlined" data-postingId="{{posting._id}}">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">person_add</i>
                                <span class="mdc-button__label">anderen Nutzer anmelden</span>
                            </button>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="sidebar-bottom sidebar-bottom--padding">
            <a class="sidebar-confirm sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    check
                </button>
            </a>
            <a class="sidebar-cancel sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    close
                </button>
            </a>
            <a class="sidebar-delete sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    delete
                </button>
            </a>
        </div>
    </div>
</div>
