<div id="sidebar" class="sidebar sidebar-event sidebar-eventDetails">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span class="quill-renderer limitCharacters">{{event.title.value}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner sidebar-eventDetails-inner">
        <div class="sidebar-content">
            <div class="eventDetails-top">
                <div class="eventDetails-top-inner">
                    <div class="eventDetails-eventTitle">
                        <div id="sidebar-eventDetails--titleRenderer" class="eventDetails-eventTitle--text event-title quill-renderer limitCharacters">
                            {{event.title.value}}
                        </div>
                    </div>
                    <div class="eventDetails-eventType">
                        <span class="eventDetails-eventType--text">{{event.type.value}}</span>
                    </div>
                </div>
            </div>
            <div class="sidebar-section eventDetails-body">
                <div class="section-title content-title">
                    <span>Beschreibung</span>
                </div>
                <div class="section-content eventDetails-section-content eventDetails-description">
                    <div id="sidebar-eventDetails--descRenderer" class="content-item quill-renderer">
                    </div>
                </div>
            </div>
            <div class="sidebar-section eventDetails-body">
                <div class="section-title content-title">
                    <span>Veranstaltungsort</span>
                </div>
                <div class="section-content eventDetails-section-content eventDetails-location">
                    <span class="content-item before-icon icon-location">
                        {{event.location.value}}
                    </span>
                </div>
            </div>
            <div class="sidebar-section eventDetails-body">
                <div class="section-title content-title">
                    <span>Termin</span>
                </div>
                <div class="section-content  eventDetails-section-content eventDetails-date">
                    <div class="eventDetails-date--day">
                        {{event.date.startDateString}}
                    </div>
                    <div class="eventDetails-date--time">
                        {{event.date.timeString}} Uhr
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-bottom">
        </div>
    </div>
</div>
