
<div id="sidebar" class="sidebar sidebar-event">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span class="quill-renderer limitCharacters">{{title.value}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner">
        <div class="sidebar-content">
            <div class="sidebar-section top-section">

            </div>
            <div class="sidebar-section">
                <div class="section-title content-title">
                    <span></span>
                </div>
                <div class="section-content">
                    <span class="content-item"></span>
                </div>
            </div>
            <div class="sidebar-section body-section event-participants-container">
                <div class="section-title participant-heading">
                    Dienstposten
                </div>
                <div class="event-participants">
                    {{#each event.postings}}
                        {{#if this.assigned.isAssigned}}
                            <div class="content-item participant-item">
                                <div class="participant-img">
                                    <img src="/data/uploads/user_images/{{this.assigned.user.id}}/{{this.assigned.user.id}}.jpg"/>
                                </div>
                                <div class="participant-details">
                                    <a href="/unisams/user/view/{{this.assigned.user.username}}">
                                        {{this.assigned.user.generalData.firstName.value}} {{this.assigned.user.generalData.lastName.value}}
                                    </a>
                                </div>
                            </div>
                        {{else}}
                            <div class="content-item participant-item">
                                <div class="participant-img">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                </div>
                                <div class="participant-details">
                                    <a>
                                        {{#each this.requiredQualifications}}{{this.short}}{{#unless @last}}, {{/unless}}{{/each}}
                                    </a>
                                </div>
                            </div>
                        {{/if}}

                    {{/each}}
                </div>
            </div>
        </div>
        <div class="sidebar-bottom">
            <div id="sidebar-participate-button-notregistered" class="select-button content-link slim sidebar-confirm sidebar-participate-button">Teilnehmen</div>
            <select id="sidebar-participate-button-registered" class="hidden select-button content-link slim style2 sidebar-participate-button">
                <option value="remove">Abmelden</option>
                <option value="keep" selected>Du nimmst teil</option>
            </select>
        </div>
        
    </div>
</div>
