<div class="itemlist-header-container borderBottom loglist-top-container">
    <ul class="common-list loglist-top loglist  itemlist scrollableItemList list-view border scrollableList-top">
        <li class="noSelect rowHeading">
            <div class="inner">
                <div class="item-property scrollableList-header-column userlist-ch date" data-property="timestamp">Datum</div>
                <div class="item-property scrollableList-header-column userlist-ch user" data-property="authorizedUser.generalData.firstName.value">Nutzer</div>
<!--                <div class="item-property scrollableList-header-column userlist-ch logtype" data-property="logType">logType</div>-->
                <div class="item-property scrollableList-header-column userlist-ch type" data-property="action.actionDetail">Art</div>
                <div class="item-property scrollableList-header-column userlist-ch description" data-property="target.targetType">target type</div>
                <div class="item-property scrollableList-header-column userlist-ch description" data-property="target.title">target object</div>
                <div class="item-property scrollableList-header-column userlist-ch description" data-property="description.min">Beschreibung</div>
            </div>
        </li>
    </ul>
</div>
<div class="itemlist-content-container scrollableList-content">
    <ul class="common-list loglist itemlist scrollableItemList list-view border">
        {{#each listdata}}
            <li class="log-entry scrollableList-item" id='logId{{this.id}}' data-logid= {{this.id}}>
                <a class="inner noSelect">
                    <div class="item-property item-container timestamp">
                        <span class=" item-container-element">{{transformDateTimeString this.timestamp}}</span>
                    </div>

                    <div class="item-property item-container authorizedUser">
                        <span class=" item-container-element">{{this.authorizedUser.username}}</span>
                    </div>
<!--                    <div class="item-property item-container logType">-->
<!--                        <span class=" item-container-element">{{this.logType}}</span>-->
<!--                    </div>-->
                    <div class="item-property logType">
                        <span class=" item-container-element">{{this.action.actionDetail}}</span>
                    </div>
                    <div class="item-property targetType">
                        <span class=" item-container-element">{{this.target.targetType}}</span>
                    </div>
                    <div class="item-property logType">
                        <span class=" item-container-element">{{this.target.title}}</span>
                    </div>
                    <div class="item-property value">
                        <span class=" item-container-element">{{this.description.min}}</span>
                    </div>
                </a>
            </li>
        {{/each}}
    </ul>
</div>


