<div class="itemlist-header-container postingslist-top borderBottom">
    <ul class="common-list postingslist scrollableItemList list-view border scrollableList-top">
        <li class="noSelect rowHeading">
            <div class="inner">
                <div class="item-property scrollableList-header-column userlist-ch name" data-property="user.generalData.lastName.value">Name</div>
                <div class="item-property scrollableList-header-column userlist-ch qualification" data-property="qualification">Qualifikation</div>
            </div>
        </li>
    </ul>
</div>
{{#arrayNotEmpty listdata}}
    <div class="itemlist-content-container scrollableList-content">
        <ul class="common-list postingslist scrollableItemList scrollableList-body noSelect list-view border">
            {{#each listdata}}
                <li class="user-entry noSelect scrollableList-item" id='postingId{{this._id}}' data-postingId="{{this._id}}" data-userisallowed="{{this.userIsAllowed}}">
                    <a class="inner noSelect">
                        {{#if this.assigned.isAssigned}}
                            <div class="scrollableList-body-column item-property item-container name ">
                                <div class=" userlist-img item-container-element"><img src="/data/uploads/user_images/{{this.assigned.user.id}}/{{this.assigned.user.id}}.jpg"/></div>
                                <span class=" item-container-element item-selectable">{{this.assigned.user.generalData.firstName.value}} {{this.assigned.user.generalData.lastName.value}}</span>
                                {{#if ../args.allowEdit}}
                                    <div class="participant-menu-container mdc-menu-surface--anchor">
                                        <button class="participant-menu-button mdc-icon-button material-icons">
                                            <div class="mdc-icon-button__ripple"></div>
                                            more_vert
                                        </button>
                                        <div class="mdc-menu mdc-dropdown-menu mdc-menu-surface">
                                            <ul class="mdc-deprecated-list mdc-deprecated-list--icon-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                                                <li class="mdc-deprecated-list-item posting-details" role="menuitem" data-postingId="{{this._id}}">
                            <span class="mdc-deprecated-list-item__graphic material-icons">
                                info
                            </span>
                                                    <span class="mdc-deprecated-list-item__text">Details</span>
                                                </li>
                                                <li class="mdc-deprecated-list-item participant-details" role="menuitem" data-userid="{{this.assigned.user.id}}">
                            <span class="mdc-deprecated-list-item__graphic material-icons">
                                contact_page
                            </span>
                                                    <span class="mdc-deprecated-list-item__text">Akte öffnen</span>
                                                </li>
                                                <li class="mdc-deprecated-list-item posting-unassign" role="menuitem" data-postingId="{{this._id}}" data-userId="{{this.assigned.user.id}}">
                            <span class="mdc-deprecated-list-item__graphic material-icons">
                                person_remove
                            </span>
                                                    <span class="mdc-deprecated-list-item__text">Abmelden</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        {{else}}
                            <div class="scrollableList-body-column item-property item-container postingslist-unassigned-container name ">
                                <div class="userlist-img userlist-icon item-container-element">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                </div>
                                <span class=" item-container-element item-selectable">Unbesetzt</span>
                                <div class="participant-menu-container mdc-menu-surface--anchor">
                                    <button class="participant-menu-button mdc-icon-button material-icons">
                                        <div class="mdc-icon-button__ripple"></div>
                                        more_vert
                                    </button>
                                    <div class="mdc-menu mdc-dropdown-menu mdc-menu-surface">
                                        <ul class="mdc-deprecated-list mdc-deprecated-list--icon-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                                            {{#if this.userIsAllowed}}
                                                <li class="mdc-deprecated-list-item posting-assignCurrentUser" role="menuitem" data-postingId="{{this._id}}">
                                        <span class="mdc-deprecated-list-item__graphic material-icons">
                                            person_add
                                        </span>
                                                    <span class="mdc-deprecated-list-item__text">Mich anmelden</span>
                                                </li>
                                            {{/if}}
                                            {{#if ../args.allowEdit}}
                                                <li class="mdc-deprecated-list-item posting-edit" role="menuitem" data-postingId="{{this._id}}">
                                    <span class="mdc-deprecated-list-item__graphic material-icons">
                                        edit
                                    </span>
                                                    <span class="mdc-deprecated-list-item__text">Posten bearbeiten</span>
                                                </li>
                                                <li class="mdc-deprecated-list-item posting-move-up" role="menuitem" data-postingId="{{this._id}}">
                                    <span class="mdc-deprecated-list-item__graphic material-icons">
                                        keyboard_arrow_up
                                    </span>
                                                    <span class="mdc-deprecated-list-item__text">Nach oben</span>
                                                </li>
                                                <li class="mdc-deprecated-list-item posting-move-down" role="menuitem" data-postingId="{{this._id}}">
                                    <span class="mdc-deprecated-list-item__graphic material-icons">
                                        keyboard_arrow_down
                                    </span>
                                                    <span class="mdc-deprecated-list-item__text">Nach unten</span>
                                                </li>
                                                <li class="mdc-deprecated-list-item posting-delete" role="menuitem" data-postingId="{{this._id}}">
                                    <span class="mdc-deprecated-list-item__graphic material-icons">
                                        person_remove
                                    </span>
                                                    <span class="mdc-deprecated-list-item__text">Posten entfernen</span>
                                                </li>
                                            {{/if}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        <div class="scrollableList-body-column center item-property qualification">
                            <span class="item-container-element">{{#each this.requiredQualifications}}{{this.name}}{{#unless @last}}, {{/unless}}{{/each}}</span>
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
{{else}}
    <div class="itemlist-content-container scrollableList-content">
        <ul class="common-list eventlist scrollableItemList list-view border no-entries noSelect">
            <li class="event-entry noSelect" id=''>
                <a class="inner">
                    <div class="item-property item-container noEntries-container">
                        <!--                    <div class=" eventlist-img item-container-element"><img src="/data/uploads/event_images/{{this.id}}/{{this.id}}.jpg"/></div>-->
                        <span class=" item-container-element">Keine Einträge vorhanden</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
{{/arrayNotEmpty}}


