<div class="docker-subpage docker-subpage-event" id="{{id}}-inner">
    <div class="docker-elementContainer collapsing expanded" id="eventDetailContainer">
        <div class="docker-element docker-mainElement" id="eventDetailMain">
            <a>
                 <span class="quill-renderer limitCharacters docker-element-label">{{{exploredEvent.title.html}}}</span>
                <div class="clear"></div>
            </a>
        </div>
        <div class="docker-subElementContainer">
            <div class="docker-element docker-subElement" id="eventDetail">
                <a href="/unisams/events/view/{{exploredEvent.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    <span class="docker-element-label">Details</span>
                    <div class="clear"></div>
                </a>
            </div>
            {{#ifEquals exploredEvent.type.index 1}}
            <div class="docker-element docker-subElement" id="eventParticipants"><a href="/unisams/events/view/{{exploredEvent.id}}/participants">
                <svg class="feather feather-calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                <span class="docker-element-label">Teilnehmende</span>
                <div class="clear"></div>
            </a></div>
            {{/ifEquals}}
            {{#ifEquals exploredEvent.type.index 2}}
                <div class="docker-element docker-subElement" id="eventPostings"><a href="/unisams/events/view/{{exploredEvent.id}}/postings">
                    <svg class="feather feather-calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                    </svg>
                    <span class="docker-element-label">Dozenten</span>
                    <div class="clear"></div>
                </a></div>
            {{/ifEquals}}
            {{#ifEquals exploredEvent.type.index 3}}
                <div class="docker-element docker-subElement" id="eventPostings"><a href="/unisams/events/view/{{exploredEvent.id}}/postings">
                    <svg class="feather feather-calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                    </svg>
                    <span class="docker-element-label">Dienstplan</span>
                    <div class="clear"></div>
                </a></div>
            {{/ifEquals}}
            {{#if docker.currentEvent.edit}}
            <div class="docker-element docker-subElement" id="eventSettings"><a href="/unisams/events/edit/{{exploredEvent.id}}/settings">
                <svg class="feather feather-settings" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <circle cx="12" cy="12" r="3"></circle>
                    <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                </svg>
                <span class="docker-element-label">Einstellungen</span>
                <div class="clear"></div>
            </a></div>
            <div class="docker-element docker-subElement" id="eventLogs"><a href="/unisams/events/view/{{exploredEvent.id}}/logs">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool"><path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"></path></svg>
                <span class="docker-element-label">(dev) edit logs</span>
                <div class="clear"></div>
            </a></div>
            {{/if}}
        </div>
    </div>
    <div class="docker-element"></div>
</div>