extends ../layout

block page_includes

    script.
        window.groupId = "#{group._id};
         window.group = !{JSON.stringify(group)}
         window.assignedUser = !{JSON.stringify(assignedUser)};
        window.dockerArgs.activeContainer = "roleContainer";
        window.dockerArgs.activeElementId = "roleAdvanced";

    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_userprofile.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/user.css')
    //script(src="/static/unisams/js/settings/role.js")
    //script(src="/static/unisams/js/actions.js")
    script(src="/dist/editRole.js")

block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.userprofile-heading
                                .userprofile-heading-container
                                    h3= group.title
                                    .clear
                                .clear
                        #content1-text.sec-content.border-top.userlogs-container.logs-container
                            .subpage-content
                                .userinfo-container
                                    #tab-userinfo-general.userinfo-inner
                                        .userinfo-section.userinfo-card.card-full.userwidget-description
                                            .userinfo-section-inner
                                                .userinfo-sectionheader
                                                    span http allowed operations
                                                div
                                                    ul.userlist.itemlist.itemlist-style-clean.userinfo-itemList
                                                        if group.allowedOperations
                                                            - var secKey = "allowedOperations"
                                                            - var secVal = group.allowedOperations
                                                            each val, key in secVal
                                                                - var method = val.method
                                                                - var url = val.url
                                                                li.user-entry.userkey-entry(id="allowedOperation" + val.id)
                                                                    a.inner()
                                                                        .item-property.userkey-entry-title
                                                                            span= method
                                                                        .item-property.userkey-entry-value
                                                                            span= url
                                                                        .clear



                                                .userinfo-item.useredit-item.useredit-addItem
                                                    .useredit-addGeneralItemBtn.btn-addItem.btn-listExt(data-catkey=secKey)
                                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                        span Hinzufügen
                                                        .clear
                                        .userinfo-section.userinfo-card.card-full.userwidget-description
                                            a#deleteRoleButton.content-link.deleteRoleButton Rolle löschen
