extends ../layout

block page_includes

    script.
        window.roleId = "#{group._id}";
         window.group = !{JSON.stringify(group)}
         window.assignedUser = !{JSON.stringify(assignedUser)};
        window.dockerArgs.activeContainer = "roleContainer";
        window.dockerArgs.activeElementId = "roleGeneral";

    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_userprofile.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/user.css')
    //script(src="/static/unisams/js/settings/role.js")
    //script(src="/static/unisams/js/actions.js")
    script(src="/dist/editRole.js")



block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.propertypage-heading
                                .propertypage-heading-container
                                    h3#userProfileName.limitCharacters= group.title
                                    .clear
                                .clear
                        #content1-text.sec-content.border-top.userlogs-container.logs-container
                            .subpage-content
                                .userinfo-container
                                    #tab-userinfo-general.userinfo-inner
                                        .userinfo-section.userinfo-card.card-full.userwidget-description
                                            .userinfo-section-inner
                                                .userinfo-sectionheader
                                                    span Allgemeines
                                                div
                                                    ul.userlist.itemlist.itemlist-style-clean.userinfo-itemList
                                                        - var combinedKey = "title"
                                                        - var keyTitle = "Titel"
                                                        - var value = group.title
                                                        li.user-entry.roletitle-change(id="rolekey-" + combinedKey, data-isarray= false, data-key=combinedKey, data-value=value)
                                                            a.inner()
                                                                .item-property.userkey-entry-title
                                                                    span= keyTitle
                                                                .item-property.userkey-entry-value
                                                                    span= value
                                                                .clear
                                                        - var combinedKey = "description"
                                                        - var keyTitle = "Beschreibung"
                                                        - var value = group.description
                                                        li.user-entry.roledesc-change(id="rolekey-" +combinedKey, data-isarray= false, data-key=combinedKey, data-value=value)
                                                            a.inner()
                                                                .item-property.userkey-entry-title
                                                                    span= keyTitle
                                                                .item-property.userkey-entry-value
                                                                    span= value
                                                                .clear
                                                        - var combinedKey = "_id"
                                                        - var keyTitle = "ID"
                                                        - var value = group._id
                                                        li.user-entry.noSelect.cursor-default(id="rolekey-"+combinedKey, data-isarray= false, data-key=combinedKey, data-value=value)
                                                            a.inner()
                                                                .item-property.userkey-entry-title
                                                                    span= keyTitle
                                                                .item-property.userkey-entry-value.has-tooltip.cursor-notAllowed
                                                                    span= value
                                                                    span.tooltip Id kann nicht verändert werden.
                                                                .clear


                                            .userinfo-section.userinfo-card.card-full.userwidget-description
                                                .userinfo-section-inner
                                                    .userinfo-sectionheader
                                                        span assigned user
                                                    div
                                                        ul.userlist.itemlist.itemlist-style-clean.userinfo-itemList.list-view
                                                            if assignedUser
                                                                each user in assignedUser
                                                                    //li.user-entry.userkey-entry(id="userId-" + user.id)
                                                                    //    a.inner()
                                                                    //        .item-property.userkey-entry-title
                                                                    //            span= user.username
                                                                    //        .clear
                                                                    li.user-entry(id="userId-" + user.id, data-userid=user.id)
                                                                        a.inner
                                                                            .item-property.item-container.name
                                                                                .userlist-img.item-container-element
                                                                                    img(src='/data/uploads/user_images/'+user.id+'/'+user.id+'.jpg')
                                                                                span.item-container-element.limitCharacters=user.generalData.firstName.value + " " + user.generalData.lastName.value





                                                    .userinfo-item.useredit-item.useredit-addItem
                                                        .useredit-addGeneralItemBtn.btn-addItem.btn-listExt.addUserButton
                                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                            span Hinzufügen
                                                            .clear
