extends ../layout

block page_includes

    script.
        window.groupId = "#{group._id}";
        window.group = !{JSON.stringify(group)}
        window.assignedUser = !{JSON.stringify(assignedUser)};
        window.dockerArgs.activeContainer = "roleContainer";
        window.dockerArgs.activeElementId = "roleGeneral";

        window.jsmodule = {
            module: "roles",
            loaders: ["view"],
        };

    script(src="/dist/roles.js")



block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.propertypage-heading
                                .propertypage-heading-container
                                    h3#userProfileName.limitCharacters= group.title
                                    .clear
                                .clear
                        #content1-text.sec-content.border-top.userlogs-container.logs-container
                            .subpage-content
                                .info-container
                                    #tab-info-general.info-inner
                                        .info-section.info-card.card-full.userwidget-description
                                            .info-section-inner
                                                .info-sectionheader
                                                    span Allgemeines
                                                div
                                                    ul.userlist.itemlist.itemlist-style-clean.info-itemList
                                                        - var combinedKey = "title"
                                                        - var keyTitle = "Titel"
                                                        - var value = group.title
                                                        li.user-entry.editGroupButton(id="rolekey-" + combinedKey, data-isarray= false, data-key=combinedKey, data-value=value)
                                                            a.inner()
                                                                .item-property.userkey-entry-title
                                                                    span= keyTitle
                                                                .item-property.userkey-entry-value
                                                                    span= value
                                                                .clear
                                                        - var combinedKey = "description"
                                                        - var keyTitle = "Beschreibung"
                                                        - var value = group.description
                                                        li.user-entry.editGroupButton(id="rolekey-" +combinedKey, data-isarray= false, data-key=combinedKey, data-value=value)
                                                            a.inner()
                                                                .item-property.userkey-entry-title
                                                                    span= keyTitle
                                                                .item-property.userkey-entry-value
                                                                    span= value
                                                                .clear
                                                        - var combinedKey = "type"
                                                        - var keyTitle = "Gruppentyp"
                                                        - var value = group.type
                                                        li.user-entry.editGroupButton(id="rolekey-"+ combinedKey, data-isarray= false, data-key=combinedKey, data-value=value)
                                                            a.inner()
                                                                .item-property.userkey-entry-title
                                                                    span= keyTitle
                                                                .item-property.userkey-entry-value
                                                                    span= value
                                                                .clear
                                                        - var combinedKey = "_id"
                                                        - var keyTitle = "ID"
                                                        - var value = group._id
                                                        li.user-entry.cursor-default(id="rolekey-"+combinedKey, data-isarray= false, data-key=combinedKey, data-value=value)
                                                            a.inner()
                                                                .item-property.userkey-entry-title
                                                                    span= keyTitle
                                                                .item-property.userkey-entry-value.has-tooltip.cursor-notAllowed
                                                                    span= value
                                                                    span.tooltip Id kann nicht verändert werden.
                                                                .clear


                                            .info-section.info-card.card-full.userwidget-description
                                                .info-section-inner
                                                    .info-sectionheader
                                                        span assigned user
                                                    div.itemlist-header-container.userlist-header-container
                                                        ul#userlist-top.userlist-header.userlistModule.itemlist.common-list.list-view.border
                                                            li.noSelect.rowHeading
                                                                .inner.single-column
                                                                    .item-property user
                                                    .itemlist-content-container.userlist-content-container
                                                        #userlist-container

                                                    .info-item.useredit-item.useredit-addItem
                                                        .useredit-addGeneralItemBtn.btn-addItem.btn-listExt.addUserButton
                                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                            span Hinzufügen
                                                            .clear
