<div id="{{id}}" class="interactiveList-interaction interaction--input" data-identifier="{{identifier}}" data-interactiontype="{{type}}">
    <span id="{{id}}__label" class="common-input">{{value}}</span>
</div>
